.web
assets/external/
.states
__pycache__/
*.db
*.py[cod]
__pycache__
.ipynb_checkpoints
images
.DS_Store
cache
hawaii
friends
alaska
yellowstone
basemap.geojson
plants.csv
pydeck.html
test.json
thumbs
sandbox.ipynb
