body{
    display: flex;
    gap: 2vw;
    height: 100vh;
    margin: 0;
    background: radial-gradient(at 30% 20%, hsl(210, 67%, 82%), transparent 60%),
                radial-gradient(at 75% 70%, hsl(210, 51%, 66%), transparent 60%),
                linear-gradient(to bottom right, hsl(221, 62%, 55%), hsl(219, 94%, 59%));
}

iframe{
    border: none;
    padding: none;
    margin: none;
    border-radius: 25px;
    box-shadow: 0px 0px 80px rgb(98, 117, 141), inset 0.3px 0.3px 1px white, inset -0.3px -0.3px 1px white;
}

.map{
    width: 65%;
    height: 85%;
    align-self: center;
    align-items: center;
    align-content: center;
    margin-left: 2vw;
    position: relative;
    user-select: none;
}
#loadingOverlay{
    position: absolute;
    border: none;
    padding: none;
    margin: none;
    border-radius: 25px;
    box-shadow: 0px 0px 80px rgb(98, 117, 141), inset 0.3px 0.3px 1px white, inset -0.3px -0.3px 1px white;
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.271);
    backdrop-filter: blur(20px);
    z-index: 1000;
}
#loadingOverlay img{
    width: 50%;
    align-self: center;
    margin: 0 0 0 0;
}
#loadingOverlay p{
    font-family: 'Roboto';
    text-align: center;
    font-size: 2vw;
    margin: -3% 0 0 0;
    color: white;
}

.dash{
    width: 28%;
    height: 90%;
    /* border: 4px white solid; */
    border-radius: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    
    background: rgba(255, 255, 255, 0.12); /* ~12% white overlay */
    backdrop-filter: blur(30px) saturate(115%);
    -webkit-backdrop-filter: blur(30px); /* for Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow-y: scroll;
    overflow-x:hidden;
}

.logo{
    font-family: 'Jacquard 12';
    color: white;
    width: 50%;
    text-align: center;
    font-size: 5vw;
    user-select: none;
    margin-top: 1vh;
    border: 1px rgba(71, 71, 71, 0.722) solid;
    border-radius: 25px;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(30px) saturation(50%);
}
.logo:hover{
    backdrop-filter: saturation(1%)
}

.buttons{
    display: flex;
    flex-direction:row;
    border: 0px solid black;
    height: 13%;
    width: 90%;
    margin-top: 2%;
    gap: 2%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.buttons form{
    align-self: center;
    justify-self: center;
    border: 0px purple solid;
    align-content: center;
    padding: 0 0 0 0;
    text-align: center;
    border-radius: 25px;
    color: white;
    backdrop-filter: blur(30px);
    user-select: none;
    height: 80%;
    width: 50%;
}
.buttons form:hover{
    cursor: pointer;
}
button{
    align-self: center;
    justify-self: center;
    font-family: 'Roboto';
    align-content: center;
    padding: 0 0 0 0;
    text-align: center;
    border-radius: 25px;
    color: white;
    backdrop-filter: blur(30px);
    user-select: none;
    height: 100%;
    width: 100%;
    border: none;
}
button:hover{
    cursor:pointer;
}
button:active{
    opacity: 0.7;
}

#gen{
    font-size: 2vw;
    padding: 0 2% 0 2%;
    background: rgba(11, 216, 4, 0.751);
    box-shadow: 0px 0px 0px darkgreen, inset 0.3px 0.3px 3px lightgreen, inset -0.3px -0.3px 2px rgb(144, 238, 167);
}
#gen:hover{
    background: rgba(11, 216, 4, 0.521);
}
#up{
    font-size: 2vw;
    padding: 0 2% 0 2%;
    width: 50%;
    height: 80%;
    background: rgb(0, 60, 255);
    box-shadow: 0px 0px 0px darkblue, inset 0.3px 0.3px 3px rgb(165, 219, 253), inset -0.3px -0.3px 2px rgb(163, 220, 255);
}
#up:hover{
    background: rgba(0, 60, 255, 0.751);
}

.folders{
    border: 1px rgba(215, 214, 214, 0.376) solid;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction:column;
    border-radius: 25px;
    background-color: rgba(215, 214, 214, 0.171);
    backdrop-filter: blur(70px);
    margin-top: 2%;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 2%;
    overflow-y:auto;
}

.tripcard{
    font-family: 'Roboto';
    width: 90%;
    height: 25%;
    background-color: black;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    background-color: rgba(234, 247, 255, 0.378);
    backdrop-filter: blur(30px);
    box-shadow: inset 0.3px 0.3px 7px rgb(165, 219, 253), inset -0.3px -0.3px 7px rgb(163, 220, 255);
    text-align: center;
    user-select: none;
    align-content: center;
    display: flex;
    flex-direction: row;;
}
#name{
    justify-self: left;
    align-content: center;
    font-size: 2vw;
    font-weight: bold;
    margin-left: 5%;
    width: 80%;
    padding-left: 3%;
    text-align: left;
    flex-shrink: 2;
}
.tripcard #name:hover{
    opacity: 0.6;
    cursor: pointer;
    transform: scale(1.03);
}
#del{
    width: 20%;
    height: 40%;
    border-radius: 25px;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding: 3%;
    display: flex;
    flex-shrink: 0;
}
#delbut{
    height: 100%;
    width: 100%;
    background-color: rgba(234, 247, 255, 0.199);
    box-shadow: inset 0.3px 0.3px 2px rgb(79, 79, 79), inset -0.3px -0.3px 2pxrgb(70, 70, 70);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
#delbut p{
    width: 100%;
    font-size: 1vw;
    margin: 0;
}
#delbut:hover{
    background-color: rgb(255, 0, 0);
}
.modal{
    display: none;
    position: fixed;
    z-index:1000;
    width: 50%;
    height: 50%;
    align-self: center;
    left: 20%;
    background-color: rgba(158, 158, 158, 0.581);
    border-radius: 25px;
    border: 1px solid rgba(128, 128, 128, 0.72);
    backdrop-filter: blur(20px);
    
}

.modal-content{
    text-align: center;
    align-items: center;
    justify-items: center;
    font-family: 'Roboto';
    color: white;
    font-size: 2vw;
    user-select: none;
}
.close{
    float: right;
    font-size: 2vw;
    cursor: pointer;
    user-select: none;
    margin-right: 2%;
    margin-top: -2%;
    color: white;
}
.close:hover{
    color: black;
}

#modalup{
    font-size: 2vw;
    padding: 0 2% 0 2%;
    width: 50%;
    height: 9vh;
    background: rgb(146, 172, 255);
    box-shadow: 0px 0px 0px darkblue, inset 0.3px 0.3px 3px rgb(165, 219, 253), inset -0.3px -0.3px 2px rgb(163, 220, 255);
    border-radius: 25px;
    border: none;
    margin-top: 10%;
    color: white;
}
#modalup:hover{
    opacity:0.8;
    cursor: pointer;
}

#foldername{
    height: 5vh;
    width: 10vw;
    border-radius: 25px;
    text-align: center;
    border-color: black;
}

.distance{
    border: 1px solid rgba(215, 214, 214, 0.635);
    border-radius: 25px;
    width: 90%;
    height: 15%;
    margin: 2%;
    background-color:rgba(215, 214, 214, 0.171);
    backdrop-filter: blur(30px);
    color: white;
    font-family: 'Roboto';
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    padding-top: 5%;
}
.milebar{
    height: 15%;
    width: 90%;
    border: 2px solid rgb(109, 122, 255);
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 3%;
}
.fill{
    height: 99%;
    border-radius: 25px;
    background-color: rgb(0, 169, 0);
    transition: width 0.3s ease;
}
.distance p{
    margin: 1%;
}

.cache{
    width: 150%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    padding: 0;
}
#delcache{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cachebut{
    border-radius: 25px;
    background-color: rgba(215, 214, 214, 0.171);
    backdrop-filter: blur(40px);
    position: relative;
    border: 1px solid rgba(215, 214, 214, 0.635);
    display: flex;

    color: white;
    font-family: 'Roboto';
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}
#cachebut p{
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1vw;
    padding: 0;
    justify-self: center;
    align-self: center;
    padding: 10%;
}
.cache:hover{
    opacity: 0.8;
    cursor: pointer;
    
}
.cache:active{
    opacity: 0.6;
}